.books {
  padding-top: 75px;
  background-color: #ffffff;
}

.bookTitle {
  margin-bottom: 50px;
}
.bookTitle h1,
span {
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}

.bookImg div {
  width: 10rem;
  background: rgba(0, 0, 0, 0);
  margin-bottom: 2.5rem;
  -webkit-box-shadow: 2px 6px 26px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 6px 26px 5px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 6px 26px 5px rgba(0, 0, 0, 0.75);
}

.bookstore {
  display: flex;
  margin: 2rem auto;
  justify-content: space-evenly;
}

.bookstoreLogo div {
  width: 5rem;
}
