.contact {
  background-color: #111111;
  color: white;
}
.title {
  margin: -10vh auto 10vh auto;
}
.title h1 {
  margin: 0 auto;
}
.contact ul {
  display: flex;
  justify-content: space-evenly;
}

.contact li {
  font-size: 2rem;
}
